*.jpg
*.png
*.pdf
python123.code-workspace
*.url
*.lnk
*.ini
*.exe
CodeBlocks.lnk 
desktop.ini 
Discord.lnk 
Microsoft Edge.lnk 
qbittorrent.exe 
Richman 4.url 
Richman Classic.url 
SteamVR.url 
Visual Studio Code.lnk 
VRChat.url 
Zoom.lnk 
リッチマン 11.url
